.header-wrapper {
    background: #EFF8FF;
    padding-top: 10px;
    width: 100%;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__navbar a {
    color: black;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navbar__login_button {
    display: flex;
    width: 146px;
    height: 56px;
    padding: 13px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    color: white;
    background-color: #025595;
}

@media(max-width:675px) {
    .navbar__list {
        display: none;
    }
    .header__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}